<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="wellformedit.css">
  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->

  <script>
    $(document).ready( function(){
      var offset = 80;
      var activeElement = "";

      $(window).scroll( function(event){
        var specifics = document.getElementsByClassName( "header" );

        if( specifics == null ){
          specifics = document.getElementsByClssName( "" );
        }

        var i = 0;

        for( i=0; i<specifics.length; i++ ){
          var startOffset = 0;
          var endOffset = 0;

          startOffset = $( "#" + specifics[i].id ).offset().top - offset;
          if( startOffset > $(window).scrollTop() ){
            activeElement = "";
            break;
          }

          if( i != specifics.length - 1 ){
            endOffset = $( "#" + specifics[i+1].id ).offset().top - offset;
          } else{
            // endOffset = $( "#" + specifics[i].id ).offset().top + $( ".content_specific" ).outerHeight() - offset;
            endOffset = $( "#" + specifics[i].id ).offset().top + $( "#" + specifics[i].id ).parent().outerHeight( true ) - offset;
          }

          if( $(window).scrollTop() > startOffset && $(window).scrollTop() < endOffset ){
            activeElement = specifics[i].id;
            break;
          }

          if( $(window).scrollTop() + $(window).height() == $(document).height() ){
            activeElement = specifics[specifics.length - 1].id;
            break;
          }

          if( i == specifics.length ){
            activeElement = "";
          }
        }

        if( activeElement != "" ){
          $(".side-nav li.content-header ul").css( "display", "block" );
          $(".side-nav li.content-header ul li a.active").removeClass( "active" );
          $( "#" + activeElement.replace("_redirect", "") ).addClass( "active" );
        } else{
          $(".sub-side-nav > li > a").on('click', function(event) {
            $(".sub-side-nav > li > a.active").removeClass( "active" );
            $(this).addClass( "active" );
          });
          // $(".side-nav li.content-header ul li a.active").removeClass( "active" );
        }
      } );
    } );
  </script>

</head>
<body class="base" data-spy="scroll" data-target=".side-nav" data-offset="9000">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content">
          <ul class="nav navbar-nav top-nav">
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <% if( specificSubMenuList != null ){ %>
            <%- specificSubMenuList %>
            <hr style="border-top: solid 1px lightgray;">
          <% } %>


          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <div class="content">

          <% if( content != null ){ console.dir( content );%>

          <div class="form-group" id="id_form_discussion">
            <h2 style="margin-bottom: 30px;"> <%- content[0].title %><br><small> <%- content[0].subtitle %></small> </h2>
            <label class="control-label col-sm-2" for="email">Writer:</label>
            <p class="form-control-static"><%- content[0].writer %></p>
            <label class="control-label col-sm-2" for="date">Created Date:</label>
            <p class="form-control-static"><%- content[0].createdDate %></p>

            <h3>Summary</h3>
            <blockquote style="font-size: 14px; margin-botton: 130px !important;">
              <%- content[0].summary %>
            </blockquote>

            <% if( contentSpecific != null ){ %>
            <h3>Specifics<br></h3>
            <blockquote style="font-size: 14px; margin-botton: 130px !important;">
              <% for( var i=0; i<contentSpecific.length; i++ ){ %>
                <%= contentSpecific[i].header %><br>
              <% } %>
            </blockquote>
            <% } %>

            <% if( keywordList != null ){ %>
            <h3>Keywords<br></h3>
            <blockquote style="font-size: 14px; margin-botton: 130px !important;">
              <% for( var i=0; i<keywordList.length; i++ ){ %>
                <%= keywordList[i].displayName %><br>
              <% } %>
            </blockquote>

            <% } %>

            <div class="content_specifics">
              <%- content[0].specifics %>
            </div>
          </div>

          <% } %>

          <div class="form-group" id="id_form_main">
            <p>
              <h3 style="height: 500px;">Test</h3>
            </p>
            <p>
              <h3 style="height: 500px;">Test</h3>
            </p>
            <p>
              <h3 style="height: 500px;">Test</h3>
            </p>
            <p>
              <h3 style="height: 500px;">Test</h3>
            </p>
            <p>
              <h3 style="height: 500px;">Test</h3>
            </p>
            <p>
              <h3 style="height: 500px;">Test</h3>
            </p>
          </div>
        </div>

        <footer>
          <div class="container-fluid footer-bottom">
            <div class="row">
              <hr>
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <ul style="list-style: none; margin: 0; padding: 0;">
                  <li style="display: inline; padding-left: 30px;"><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 <u>Company Name</u>, All rights reserved</li>
                  <li style="display: inline; padding-left: 30px;"><a href="https://github.com/inodient/Nodejs_Template"><u>GitHub</u></a></li>
                  <li style="display: inline; padding-left: 30px;"><a href="https://developer.github.com"><u>Developer</u></a></li>
                  <li style="display: inline; padding-left: 30px;"><a href="/index"><u>About</u></a></li>
                </ul>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </footer>


      </div>
    </div>
  </div>

  <div class="after"></div>
</body>
</html>
