<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="wellformedit.css">
  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <% include partials/facebookSDK.ejs %>

  <script>
    $(window).on( "load", function(){
      $(document).ready( function(){
        $(".after").css( "height", $(".base").outerHeight() + $(".navbar").outerHeight() );

        $(document).ready( function(){
          $('.clickable-row').click(function () {
            document.location.href = $(this).data("href");
          } );
        } );

        // ------ Google Chart - Start
        $(window).resize( function(){
          if( $("#id_discussion_keywordRanking" ).length && $("#id_discussion_hitCountRanking").length ){
            drawKeywordsChart();
            drawContentsChart();
          }
        } );

        if( $("#id_discussion_keywordRanking" ).length && $("#id_discussion_hitCountRanking").length ){
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback( drawKeywordsChart );
          google.charts.setOnLoadCallback( drawContentsChart );
        }
        // ------ Google Chart - End
      } );
    } );




    function drawKeywordsChart() {
      var keywordsChart = new google.visualization.BarChart(document.getElementById('id_discussion_keywordRanking'));
      var data = google.visualization.arrayToDataTable( keywordsChartData );

      google.visualization.events.addListener( keywordsChart, "select", function selectHandler( e ){
        if( keywordsChart.getSelection()[0] ){
          var selectedKeyword = data.getFormattedValue(keywordsChart.getSelection()[0].row, 0);
          var str = "KEYWORD : " + data.getFormattedValue(keywordsChart.getSelection()[0].row, 0);

          if( confirm( "Are you sure want to go to [ " + str + " ] ?" ) ){
            redirectKeyword( selectedKeyword );
          }
        }
      } );

      keywordsChart.draw( data, keywordsChartOptions );
    }

    function redirectKeyword( keywordTitle ){
      $.post( "/getKeywordLocation",
      { keywordtitle : keywordTitle },
      function( keywordInfo, status ){
        let specificId = keywordInfo.specificId;
        let keywordId = keywordInfo.keywordId;

        document.location.href = "./discussion?contentid=" + specificId + "#" + keywordId + "_redirect";
      } );
    }




    function drawContentsChart() {
      var contentsChart = new google.visualization.BarChart(document.getElementById('id_discussion_hitCountRanking'));
      var data = google.visualization.arrayToDataTable( contentsChartData );

      google.visualization.events.addListener( contentsChart, "select", function selectHandler( e ){
        if( contentsChart.getSelection()[0] ){
          var selectedContent = data.getFormattedValue(contentsChart.getSelection()[0].row, 0);
          var str = "CONTENT : " + data.getFormattedValue(contentsChart.getSelection()[0].row, 0);


          if( confirm( "Are you sure want to go to [ " + str + " ] ?" ) ){
            redirectContent( selectedContent );
          }
        }
      } );

      contentsChart.draw( data, contentsChartOptions );
    }

    function redirectContent( contentTitle ){
      $.post( "/getContentIdByTitle",
        { contenttitle : contentTitle},
        function( contentId, status ){
          document.location.href = "./discussion?contentid=" + contentId;
        }
      );
    }

    function toggleDiscussionList(){
      if( $("#discussionList").css( "display" ).indexOf( "none" ) > -1 ){
        $("#discussionList").show();
        $("#btn_discussionToggle").text( "Hide Discussion List" );
      } else{
        $("#discussionList").hide();
        $("#btn_discussionToggle").text( "View Whole Discussion List" );
      }
    }
  </script>

  <style>
    img {
      max-width: 100%;
    }
  </style>

</head>
<body class="base">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content" id="menu">
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ <%- title %> ]</p>
            <%- subMenuListCollapsed %>
          </ul>
          <% if( subMenuListCollapsed && subMenuListCollapsed.length > 0 ) { %>
            <hr class="nav-divider">
          <% } %>
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ Well Formed IT ]</p>
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <div class="content">

          <div class="form-group" id="id_form_discussion">

            <div class="content_specifics">
              <%- specifics %>
            </div>
          </div>

          <div id="div_chart">
          </div>

        </div>

        <% include partials/footer.ejs %>

      </div>
    </div>
  </div>

  <div class="after"></div>

  <% include partials/about.ejs %>
</body>
</html>
