<!DOCTYPE HTML>
<html>
<head><title>Well Formed IT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<% include partials/opengraph.ejs %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="wellformedit.css">

<script src="design.js"></script>  <!-- CSS Script -->
<script src="common.js"></script>  <!-- Logic Script -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
  $(document).ready( function(){
    $('#mailSend').on('click', function (event) {
      event.preventDefault();

      var email = 'inodient@gmail.com';
      var subject = 'Well Formed IT Test';
      var emailBody = 'Well Formed IT Test Body';
      window.location = 'mailto:' + email + '?subject=' + subject + '&body=' +   emailBody;
    } );

    // ----- Search Function - Start
    // cheatsheet search
    $("#cheatsheet-search").on( "click", () => {
      searchCheatsheet();
    });

    // cheatsheet search - keydown enter
    $("#search-word").on( "keydown", function(e){
      if( e.keyCode == 13 ){
        searchCheatsheet();
      }
    } );
    // ------ Search Function - End
  } );

  function searchCheatsheet(){
    let searchWord = $("#search-word").val();
    alert( searchWord );
    $(location).attr( "href", "./search?searchWord=" + searchWord );
  }

  function gotoTopicList(){
    $(location).attr( "href", "./topic" );
  }

  function gotoKeywordMap(){
    $(location).attr( "href", "./keywordmap" );
  }

  function gotoAbout(){
    $(location).attr( "href", "./about" );
  }

  function gotoSummerMVC(){
    $(location).attr( "href", "https://www.npmjs.com/package/summer-mvc" );
  }

</script>

<style>
  .index_content  {
    margin: auto;
    max-width: 1200px;
    color : #333333;
  }

  .index_content h1{
    color: #333333;
  }

  .index_content h2{
    color: #333333;
  }

  .index_content h3{
    color: #333333;
  }

  .index_content h4{
    color: #333333;
  }

  .index_content h5{
    color: #333333;
  }

  .index_content h6{
    color: #333333;
  }

  .index_content p{
    color: #333333;
    font-size: 16px;
  }

  .index_title {
    margin : auto;
    padding: 200px 25px;
    background : url( "/wellformedit_background__.jpg" ) no-repeat center center;

    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size: cover;

    height: 100vh;
    width: 100vw;
  }

  .index_title h1 {
    font-size : 63px;
    /*color : #333333;*/
    color: black;
  }

  .index_title p {
    margin-bottom : 15px;
    font-size : 21px;
    font-weight : 200;
    color : #333333;
  }

  .logo {
      font-size: 200px;
  }

  .index_content {
    padding: 60px 50px;
  }

  .bg-grey {
      background-color: #f6f6f6;
  }

  .bg-grey .thumbnail {
    background-color: #f6f6f6;
    padding: 0;
  }

  .thumbnail img {
    max-height : 300px;
    height: 300px;
    margin-top :30px;
    margin-bottom: 20px;
  }

  .thumbnail {
    border: 0px;
  }

  @media screen and (max-width: 768px) {
    .index_content {
      padding: 15px;
    }
  }

</style>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content" id="menu">
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ Well Formed IT ]</p>
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Introduce -->
  <div class="index_title container-fluid">
    <div class="index_content row">
      <h1>Well <br class="mobile-show">Formed <br class="mobile-show">IT</h1>
      <p>Divide as specific as possible, <br class="mobile-show">Build as well-formed as possible</p>
      <div class="searchbar" style="max-width: 600px;">
        <div class="input-group" style="max-width: 600px;">
          <input id="search-word" type="text" class="form-control" placeholder="<%- popularSearchWord.word %>" required>
          <div class="input-group-btn">
            <button id="cheatsheet-search" type="button" class="btn btn-important">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Keyword Map -->
  <div class="index_content container-fluid">
    <h2>Keyword Map</h2>

    <button class="btn btn-important" onclick="javascript:gotoKeywordMap();">View Keyword Map Specifics</button>

    <p>
      <b>Well-formed IT</b>'s basic concept is a structured approach.<br>
      All IT technologies and environments can be divided into several layers and levels,
      using their abstract and simultaneous characteristics.
    </p>
    <p>
      And these puzzles must be combined according to the hierarchy. <br>
      A keyword map is a simplified map for doing this. <br>
      This includes computer architecture, analytical methodology, network concepts <br> and new technologies in IT, etc. <br>
    </p>
    <p>
      <b>Well-formed IT</b>'s authors assign each topic to this map. <br>
      <b>Topics will be analyzed using this map and combined using the structure of this map.</b><br>
    </p>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 5px">
        <img class="topic_img" style="max-width: 100%; width: 100%;" src="keywordmap_inverse.jpg"/>
      </div>
      <!-- <div class="col-lg-4 col-md-4 col-sm-4" style="padding-left: 5px;">
        <img class="topic_img" style="max-width: 100%; width: 100%;" src="keywordmap_inverse_second.jpg"/>
      </div> -->
    </div>
  </div>

  <div class="container-fluid" style="background-color: #eeeeee">
    <div class="index_content row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h2>Topic and Cheatsheet</h2>
        <p>
          <b>Well Formed IT</b>'s only one goal is <br>
          to introduce IT concepts as structural as possible. <br>
          Each concept consists with its content and <b>cheatsheet</b>. <br>
          And <b>topic</b> represents each concept by simplified terms.<br>
        </p>

        <table class="table" style="font-size: 16px; margin-top:35px;">
          <thead>
            <tr>
              <th>Category</th>
              <th>Topic (Content)</th>
              <th>Cheatsheet</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>Count</td>
              <td><%- topicStatus.count %></td>
              <td><%- cheatsheetStatus.count %></td>
            </tr>
            <tr>
              <td>Hit Count</td>
              <td><%- topicStatus.hitCount %></td>
              <td><%- cheatsheetStatus.hitCount %></td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-important" onclick="javascript:gotoTopicList();">View Topic List</button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <img class="topic_img" style="max-width: 100%; width: 100%;" src="topic_cheatsheet.png"/>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="index_content row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <img class="topic_img" style="max-width: 100%; width: 100%;" src="summer-mvc.png"/>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h2>summer-mvc</h2>
        <p>
          <b>well formed IT</b> itself is small web application system. <br>
          So, it needed to control HTTP request and HTTP Response. <br>
          <br>
          For doing this, <b>well formed IT</b> is implemented with <b>summer-mvc</b> framework <br>which is Nodejs web application framework for speedy development. <br>
          All controllers, services and data accessing logics are using <b>summer-mvc</b>. <br>
          <br>
          <b>well formed IT</b> is opened for everyone. <br>
          And <b>summer-mvc</b> is also opened. <br>
          You can download, access and redesign our source code under <b>MIT</b> license.
        </p>

        <button class="btn btn-important" onclick="javascript:gotoAbout();">View Well Formed IT Architecture</button>
        <button class="btn btn-important" onclick="javascript:gotoSummerMVC();">Go To summer-mvc</button>
      </div>
    </div>
  </div>

  <!-- <div class="index_content container-fluid" style="background-color: black; height: 500px; max-height: 500px;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 style="color:#dddddd">Topic and Cheatsheet</h2>
        <p style="color:#aaaaaa">
          <b>Well Formed IT</b>'s only one goal is <br>
          to introduce IT concepts as structural as possible. <br>
          Each concept consists with its content and <b>cheatsheet</b>. <br>
          And <b>topic</b> represents each concept by simplified terms.<br>
        </p>

        <table class="table" style="max-width: 35vw; font-size: 16px; margin-top:35px; color:#999999;">
          <thead>
            <tr style="border-bottom: 1px solid #999999;">
              <th style="border-bottom: 1px solid #999999;">Category</th>
              <th style="border-bottom: 1px solid #999999;">Topic (Content)</th>
              <th style="border-bottom: 1px solid #999999;">Cheatsheet</th>
            <tr>
          </thead>
          <tbody>
            <tr style="border-bottom: 1px solid #999999;">
              <td style="border-bottom: 1px solid #999999;">Count</td>
              <td style="border-bottom: 1px solid #999999;">1999</td>
              <td style="border-bottom: 1px solid #999999;">7070</td>
            </tr>
            <tr style="border-bottom: 1px solid #999999;">
              <td style="border-bottom: 1px solid #999999;">Hit Count</td>
              <td style="border-bottom: 1px solid #999999;">1999</td>
              <td style="border-bottom: 1px solid #999999;">7070</td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-important" style="border: 1px solid #aaaaaa">Go To Status</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="topic_img" style="max-width: 100%; width: 100%;" src="intro_architecture_inverse.jpg"/>
      </div>
    </div>
  </div> -->

  <!-- Contact Section -->
  <!-- <div id="contact" class="container-fluid">
    <div class="index_content">
      <h2 class="text-center">CONTACT</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Incheon, South Korea</p>
          <p><span class="glyphicon glyphicon-phone"></span> +82 1515151515</p>
          <p><span class="glyphicon glyphicon-envelope"></span> inodient@gmail.com</p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button id="mailSend"class="btn btn-default pull-right" >Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="index_content" style="text-align:right">
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1910794212495192";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="facebook_buttons" class="fb-like" data-href="http://www.wellformedit.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </div>


  <footer>
    <div class="index_content">
      <% include partials/footer.ejs %>
    </div>
  </footer>

</body>
</html>
