<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <% include partials/opengraph.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="wellformedit.css">
  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script>
    $(window).on( "load", function(){
      $(document).ready( function(){
        $(".after").css( "height", $(".base").outerHeight() + $(".navbar").outerHeight() );

        $('.clickable-row').click(function () {
          document.location.href = $(this).data("href");
        } );


        // Attach Img Redirect Hash ID
        let header = $("H4.header");
        let emptyHeader = $("H4").not(".header");

        for( let i=0; i<header.length; i++ ){
          for( let j=0; j<emptyHeader.length; j++ ){

            if( ( header[i] ).innerText == ( emptyHeader[j] ).innerText ){

              $(emptyHeader[j]).parent().siblings(".keywordarchitecture_img_col").attr("id", $(header[i]).attr("id") );
              $(emptyHeader[j]).parent().siblings(".keywordarchitecture_img_col").addClass("header");

              $(emptyHeader[j]).parent().siblings(".keywordarchitecture_img_col").css("margin-top", -80);
              $(emptyHeader[j]).parent().siblings(".keywordarchitecture_img_col").css("padding-top", 80);

              $(header[i]).attr("id", "" );
              $(header[i]).removeClass("header");
              $(header[i]).css("display", "none" );
            }
          }
        }

      } );
    } );


    function redirectContent( contentTitle ){
      $.post( "/getContentIdByTitle",
        { contenttitle : contentTitle},
        function( contentId, status ){
          document.location.href = "./discussion?contentid=" + contentId;
        }
      );
    }

    function toggleDiscussionList(){
      if( $("#discussionList").css( "display" ).indexOf( "none" ) > -1 ){
        $("#discussionList").show();
        $("#btn_discussionToggle").text( "Hide Discussion List" );
      } else{
        $("#discussionList").hide();
        $("#btn_discussionToggle").text( "View Whole Discussion List" );
      }
    }
  </script>

</head>
<body class="base">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content" id="menu">
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ <%- title %> ]</p>
            <%- subMenuListCollapsed %>
          </ul>
          <% if( subMenuListCollapsed && subMenuListCollapsed.length > 0 ) { %>
            <hr class="nav-divider">
          <% } %>
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ Well Formed IT ]</p>
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <div class="content">

          <div style="text-align:right">
            <div id="fb-root"></div>
            <script>
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1910794212495192";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>

            <div id="facebook_buttons" class="fb-like" data-href="http://www.wellformedit.com/keywordmap" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
          </div>

          <div class="form-group" id="id_form_discussion">
            <div class="content_specifics">
              <%- specifics %>
            </div>
          </div>

          <div style="text-align:right">
            <div id="facebook_buttons" class="fb-like" data-href="http://www.wellformedit.com/keywordmap" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
          </div>

        </div>

        <% include partials/footer.ejs %>

      </div>
    </div>
  </div>

  <div class="after"></div>
</body>
</html>
