<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="wellformedit.css">
  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <% include partials/facebookSDK.ejs %>

  <script>
    $(window).on( "load", function(){
      $(document).ready( function(){
        $(".after").css( "height", $(".base").outerHeight() + $(".navbar").outerHeight() );

        // ------ Google Chart - Start
        $(window).resize( function(){
          drawCheatsheetChart();
          drawKeywordsChart();
          drawContentsChart();
        } );

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback( drawCheatsheetChart );
        google.charts.setOnLoadCallback( drawKeywordsChart );
        google.charts.setOnLoadCallback( drawContentsChart );
        // ------ Google Chart - End
      } );
    } );

    function drawCheatsheetChart() {
      var cheatSheetChart = new google.visualization.BarChart(document.getElementById('id_cheatsheetChart'));
      var data = google.visualization.arrayToDataTable( cheatsheetChartData );

      google.visualization.events.addListener( cheatSheetChart, "select", function selectHandler( e ){
        if( cheatSheetChart.getSelection()[0] ){
          var str = data.getFormattedValue(cheatSheetChart.getSelection()[0].row, 0);

          if( confirm( "Are you sure want to search with [" + str + "] ?" ) ){
            $("#search-word").val( str ).focus();
            searchCheatsheet();
            $(window).scrollTop(0);
          }
        }
      } );

      cheatSheetChart.draw( data, cheatsheetChartOptions );
    }

    function drawKeywordsChart() {
      var keywordsChart = new google.visualization.BarChart(document.getElementById('id_keywordsChart'));
      var data = google.visualization.arrayToDataTable( keywordsChartData );

      google.visualization.events.addListener( keywordsChart, "select", function selectHandler( e ){
        if( keywordsChart.getSelection()[0] ){
          var str = "KEYWORD : " + data.getFormattedValue(keywordsChart.getSelection()[0].row, 0);

          if( confirm( "Are you sure want to search with [ " + str + " ] ?" ) ){
            $("#search-word").val( str ).focus();
            searchCheatsheet();
            $(window).scrollTop(0);
          }
        }
      } );

      keywordsChart.draw( data, keywordsChartOptions );
    }

    function drawContentsChart() {
      var contentsChart = new google.visualization.BarChart(document.getElementById('id_contentsChart'));
      var data = google.visualization.arrayToDataTable( contentsChartData );

      google.visualization.events.addListener( contentsChart, "select", function selectHandler( e ){
        if( contentsChart.getSelection()[0] ){
          var str = "DISCUSSION : " + data.getFormattedValue(contentsChart.getSelection()[0].row, 0);

          if( confirm( "Are you sure want to search with [ " + str + " ] ?" ) ){
            $("#search-word").val( str ).focus();;
            searchCheatsheet();
            $(window).scrollTop(0);
          }
        }
      } );

      contentsChart.draw( data, contentsChartOptions );
    }
  </script>

</head>
<body class="base" data-spy="scroll" data-target=".side-nav" data-offset="9000">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content" id="menu">
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ <%- title %> ]</p>
            <%- subMenuListCollapsed %>
          </ul>
          <% if( subMenuListCollapsed && subMenuListCollapsed.length > 0 ) { %>
            <hr class="nav-divider">
          <% } %>
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ Well Formed IT ]</p>
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <div class="content">

          <div class="form-group" id="id_form_discussion">
            <h2 style="margin-bottom: 30px;"> <%- title %><br><small> <%- subtitle %></small> </h2>

            <blockquote>
              <%- summary %>
            </blockquote>

            <div class="content_specifics">
              <%- specifics %>
            </div>

          </div>

        </div>

        <% include partials/footer.ejs %>
      </div>
    </div>
  </div>

  <div class="after"></div>

  <% include partials/about.ejs %>

</body>
</html>
