<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="wellformedit.css">

  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->
  <script src="sns.js"></script>  <!-- SNS Share Script -->

  <!-- opengraph meta - start -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@wellformedit" />
  <meta name="twitter:creator" content="@wellformedit" />

  <meta property="fb:app_id" content="1910794212495192" />

  <meta property="og:url"                content="http://www.wellformedit.com/topic" />
  <meta property="og:type"               content="blog" />
  <meta property="og:title"              content="Well Formed IT's topic" />
  <meta property="og:description"        content="[Well Formed IT]'s only one goal is to introduce IT concepts as structural as possible. There are so many approaches and analysis methodologies doing that. [Well Formed IT] predefine a keyword map to assign each concept with that. Such concept discussion would be wrapped as Topic and Cheat sheet, and each topic would be assigned at keyword map." />
  <meta property="og:image"              content="http://www.wellformedit.com/summer-mvc.png" />
  <!-- opengraph meta - end -->


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script>
    $(window).on( "load", function(){
      $(document).ready( function(){

        wordWrap();

        // ------ Specific Content's Title Visibility - Start
        if( ( $(location).attr("href") ).indexOf( "?contentid" ) > -1 ){
          $("#doc-title").css( "display", "block" );
        } else{
          $("#doc-title").css( "display", "none" );
        }
        // ------ Specific Content's Title Visibility - End

        // ------ Modal, Carousel Function - Start
        $(".search-result-image img").on( "click", function(){

          if( $(window).width() < 768 ){
            // redirectContent( $(this).attr("id") );
          } else{
            let modalId = "#modal_" + $(this).attr("id");
            $(modalId).modal();

            setCheatsheetImgAspect( $(this).attr("id") );
            setCheatsheetMargin( $(this).attr("id") );
          }
        } );

        $(".topic_thumbnail_img img").on( "click", function(){

          if( $(window).width() < 768 ){
            // redirectContent( $(this).attr("id") );
          } else{
            let modalId = "#modal_" + $(this).attr("id");
            $(modalId).modal();

            setCheatsheetImgAspect( $(this).attr("id") );
            setCheatsheetMargin( $(this).attr("id") );
          }
        } );
        // ------ Modal, Carousel Function - End

        // ------ Window resize - Start
        $(window).resize( function(){
          if( $(".modal_cheatsheet.in") && $(".modal_cheatsheet.in img").attr("id") ){
            let activeImgId = ( $(".modal_cheatsheet.in img").attr("id") ).replace( "modal_img_", "" );

            setCheatsheetImgAspect( activeImgId );
            setCheatsheetMargin( activeImgId );
          }

          wordWrap();
        } );
        // ------ Window resize - End

        // ------ Topic List Row Click - Start
        $(".topic_table tbody tr").click( function(){
          $(location).attr("href", $(this).data("href") );
        } );
        // ------ Topic List Row Click - End
      } );
    } );




    function setCheatsheetImgAspect( imgId ){
      let modalId = "#modal_" + imgId;
      let modalImgId = "#modal_img_" + imgId + "";

      let currentImgContainerCol = $(modalImgId).parent().data("col")
      let currentInfoContainerCol = $(modalImgId).parent().find(".info_container").data("col")

      let imgContainerCol = Math.round( 12 * $(modalImgId).width() / $(modalImgId).parent().parent().width() ) + 1;
      let infoContainerCol = 12 - imgContainerCol;

      $(modalImgId).parent().removeClass( "col-lg-" +  currentImgContainerCol );
      $(modalImgId).parent().removeClass( "col-md-" + currentImgContainerCol );
      $(modalImgId).parent().addClass( "col-lg-" + imgContainerCol );
      $(modalImgId).parent().addClass( "col-md-" + imgContainerCol );
      $(modalImgId).parent().data( "col", imgContainerCol );

      $(modalImgId).parent().parent().find(".info_container").removeClass( "col-lg-" + currentInfoContainerCol );
      $(modalImgId).parent().parent().find(".info_container").removeClass( "col-md-" + currentInfoContainerCol );
      $(modalImgId).parent().parent().find(".info_container").addClass( "col-lg-" + infoContainerCol );
      $(modalImgId).parent().parent().find(".info_container").addClass( "col-md-" + infoContainerCol );
      $(modalImgId).parent().parent().find(".info_container").data( "col", infoContainerCol );
    }

    function setCheatsheetMargin( imgId ){
      let modalImgId = "#modal_img_" + imgId + "";

      let imgHeight = $(modalImgId).height();
      let rowHeight = $(modalImgId).parent().parent().height();

      let distance = 0;
      let margin = 0;

      if( imgHeight != rowHeight ){
        distance = rowHeight - imgHeight;
        margin = distance / 2;

        $(modalImgId).css( "margin-top", margin );
        $(modalImgId).css( "margin-bottom", margin );
      }
    }

    function searchCheatsheet(){
      getCheatsheetData()
      .then( function( data ){
        $("#search-word").blur();
        $("#cheatsheet-search").blur();
        $(".appending-search-result").remove();
        $(".search-result").append( data.cheatsheet );
        $(".search-result").css( "margin-bottom", 150 );
      } ).then( function(){
        $(".search-result-image img").on( "click", function(){
          // alert( $(this).attr("id") );

          if( $(window).width() < 1024 ){
            redirectContent( $(this).attr("id") );
          } else{
            let modalId = "#modal_" + $(this).attr("id");
            $(modalId).modal();

            setCheatsheetImgAspect( $(this).attr("id") );
            setCheatsheetMargin( $(this).attr("id") );
          }
        } );
      } );
    }

    function getCheatsheetData(){
      return new Promise( function(resolve, reject){
        $.get( "/searchTopic", {
          searchWord : $("#search-word").val()
        },
        function( data, status ){
          if( status == "success" ){
            resolve( data );
          } else{
            alert( "Data : " + data + "\nStatus : " + status );
            resolve( false );
          }
        });
      } );
    }

    function redirectContent( imgId ){
      $.post( "/getContentIdByImg",
      { imgid : imgId },
      function( results, status ){
        window.location.href = "./topic?contentid=" + results.contentId + "#" + results.imgId;
      } );
    }




    // ------ Topic List Button Event - Start
    function toggleTopicViewModePopular( button ){
      let title = $(button).text();

      if( title.indexOf( "Table View" ) > -1 ){
        $("#topiclist_popular").css( "display", "none" );
        $("#topictable_popular").css( "display", "block" );
        $(button).text( "List View" );
      } else if( title.indexOf( "List View" ) > -1 ){
        $("#topiclist_popular").css( "display", "block" );
        $("#topictable_popular").css( "display", "none" );
        $(button).text( "Table View" );
      }
    }

    function toggleTopicViewModeRecent( button ){
      let title = $(button).text();

      if( title.indexOf( "Table View" ) > -1 ){
        $("#topiclist_recent").css( "display", "none" );
        $("#topictable_recent").css( "display", "block" );
        $(button).text( "List View" );
      } else if( title.indexOf( "List View" ) > -1 ){
        $("#topiclist_recent").css( "display", "block" );
        $("#topictable_recent").css( "display", "none" );
        $(button).text( "Table View" );
      }
    }

    function openWholeTopicView(){
      let popupWidth = $(window).width() * 0.8;
      let margin = ( $(window).width - popupWidth ) * 0.5;

      $("#modal_topiclist").find(".modal-dialog").css( "margin-left", margin );
      $("#modal_topiclist").find(".modal-dialog").css( "margin-right", margin );
      $("#modal_topiclist").find(".modal-dialog").css( "width", popupWidth );

      $("#modal_topiclist").find(".modal-content").css( "margin-left", margin );
      $("#modal_topiclist").find(".modal-content").css( "margin-right", margin );
      $("#modal_topiclist").find(".modal-content").css( "width", popupWidth );

      $("#modal_topiclist").find(".modal-body").css( "width", popupWidth );

      $("#modal_topiclist").modal();

      wordWrap();
    }
    // ------ Topic List Button Event - End

    // ------ Word Wrap Event - Start
    function wordWrap(){
      $(".topic_content_summary").each( function(){

        let content = $(this).siblings(".topic_content_summary_hidden").text();
        let wordWrapArray = content.split( " " );
        let textBuffer = "";

        $(this).text( wordWrapArray[0] );
        textBuffer = $(this).text();

        let height = $(this).height();

        for( let i=1; i<wordWrapArray.length; i++ ){
          $(this).text( $(this).text() + " " + wordWrapArray[i] );

          if( $(this).height() > height * 2 ){
            height = $(this).height();

            textBuffer = textBuffer.substring( 0, textBuffer.lastIndexOf( wordWrapArray[i-1] ) );
            textBuffer += " ...";

            $(this).text( textBuffer );
            break;
          }

          textBuffer = $(this).text();
        }
      } );
    }
    // ------ Word Wrap Event - End
  </script>
</head>
<body class="base">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content" id="menu">
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ <%- title %> ]</p>
            <%- subMenuListCollapsed %>
          </ul>
          <% if( subMenuListCollapsed && subMenuListCollapsed.length > 0 ) { %>
            <hr class="nav-divider">
          <% } %>
          <ul class="nav navbar-nav top-nav">
            <p class="navbar-text">[ Well Formed IT ]</p>
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <div class="content">

          <div class="form-group" id="id_form_discussion">
            <h2 id="doc-title" style="dispaly:none; margin-bottom: 30px;"> <%- title %><br><small> <%- subtitle %></small> </h2>

            <% include partials/sns.ejs %>

            <div class="content_specifics">

              <%- specifics %>
            </div>

            <% include partials/sns.ejs %>

          </div>

        </div>

        <% include partials/footer.ejs %>

      </div>
    </div>
  </div>

  <div class="after"></div>
</body>
</html>
