<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- jQuery & bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- well formed IT specific -->
  <link rel="stylesheet" href="wellformedit.css">
  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->
  <script src="editor.js"></script>  <!-- Editor Script -->

  <!-- summer note -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <!-- bootstrap-treeview -->
  <script src="bootstrap-treeview.min.js"></script>

  <% include partials/facebookSDK.ejs %>

  <script>
    $(window).on( "load", function(){
      $(document).ready( function(){

        // keyword functions
        var selectedKeywords = [];
        var savedKeywords = [];

        $(function(){ $('#keyword_treeview').treeview({
            data: '<%- JSON.stringify( keywordList ) %>',
            levels: 1,
            checkedIcon: 'glyphicon-ok',
            multiSelect: true,
            onNodeSelected: function(event, data) {
              var lastKeywords = $("#id_keywords").val();
              var keywords = "";

              if( lastKeywords === "" ){
                keywords = data.text;
              } else{
                keywords = lastKeywords + ", " + data.text;
              }

              $("#id_keywords").val( keywords );

              selectedKeywords.push( data.id );
            },
            onNodeUnselected: function(event, data) {
              var lastKeywords = $("#id_keywords").val();
              var keywords = "";

              if( lastKeywords === data.text ){
                keywords = "";
              } else{
                if( lastKeywords.indexOf( data.text ) == 0 ){
                  keywords = lastKeywords.replace( data.text + ", ", "" );
                } else{
                  keywords = lastKeywords.replace( ", " + data.text, "" );
                }
              }

              $("#id_keywords").val( keywords );

              selectedKeywords.pop( data.id );
            }
          });
        });

        $("#id_content_select").on( "change", function(){

          selectedKeywords.length = 0;

          var selectedNode = $('#keyword_treeview').treeview(true).getSelected();

          if( selectedNode.length > 0 ){
            for( var i=0; i<selectedNode.length; i++ ){
              $('#keyword_treeview').treeview(true).unselectNode( selectedNode[i].nodeId );
            }
          }


          if( $("#id_content_select option:selected").val() == "new_creation" ){
            $("#id_title").val("");
            $("#id_subtitle").val("");
            $("#id_summarise").val("");
            $("#id_summernode_form-group .note-editor .note-editing-area .panel-body").html("");
            $("#id_keywords").val("");
            selectedKeywords.length = 0;
            selectedKeywords = [];
          } else{
            $.post( "/contentLoad", {
              content_id : $("#id_content_select option:selected").val()
            },
            function( data, status ){
              var type = data.savedContent[0].type;

              $("input[type=radio][name=radio_category]:checked").removeAttr( "checked" );
              $(`input[type=radio][name=radio_category][id=id_category_` + type + `]`).attr( "checked", true );

              $(`#id_menu_select option[value=` + data.savedContent[0].parentMenu + `]`).attr( "selected", "selected" );
              $("#id_title").val( data.savedContent[0].title );
              $("#id_subtitle").val( data.savedContent[0].subtitle );
              $("#id_summarise").val( data.savedContent[0].summary );

              var specifics = data.savedContent[0].specifics;
              specifics = specifics.split( "<div class=image-info>" ).join( "WI%-" );
              specifics = specifics.split( `,"end":"true"</div>` ).join( "%IW" );

              $("#id_summernode_form-group .note-editor .note-editing-area .panel-body").html( specifics );

              savedKeywords = data.savedContent[0].keywords;

              $("#id_keywords").val("");

              var unSelectedNode = $('#keyword_treeview').treeview(true).getUnselected();

              var lastKeywords = $("#id_keywords").val();

              for( var i=0; i<savedKeywords.length; i++ ){
                if( lastKeywords === "" ){
                  lastKeywords = savedKeywords[i].displayName;
                } else{
                  lastKeywords = lastKeywords + ", " + savedKeywords[i].displayName;
                }

                for( var j=0; j<unSelectedNode.length; j++ ){
                  if( unSelectedNode[j].id == savedKeywords[i].keyword_id ){
                    $('#keyword_treeview').treeview(true).selectNode(j);
                  }
                }
              }
              $("#id_keywords").val( lastKeywords );

            });
          }
        } );




        // on save function
        $("#btn_save").on( "click", () => {

          var content = $("#specific_editor").summernote("code");

          $.post( "/contentSave", {
            category : $("input[type=radio][name=radio_category]:checked").attr( "id" ),
            top_menu_id : $("#id_menu_select option:selected").val(),
            content_id : $("#id_content_select option:selected").val(),
            title : $("#id_title").val(),
            subtitle : $("#id_subtitle").val(),
            keywords : $("#id_keywords").val(),
            keywords_id : selectedKeywords,
            summary : $("#id_summarise").val(),
            specifics : content,
            specifics_index : getSpecificIndex( content ),
            specifics_tags : getDividedSpecific( content ),
            img_srcs : getImageSrcs( $("#specific_editor").summernote("code") )
          },
          function( data, status ){

            var contentID = data.contentID;

            if( status == "success" ){
              var redirectPath = $("#id_menu_select option:selected").val();
              var category = $("input[type=radio][name=radio_category]:checked").attr( "id" );

              if( category.indexOf("main") > -1 ){
                category = "main";
              } else{
                category = "content";
              }

              if( redirectPath.indexOf("id_menu_0035") > -1 ){
                redirectPath = "index";
              } else if( redirectPath.indexOf("id_menu_0001") > -1 ){
                redirectPath = "cheatsheet";
              } else if( redirectPath.indexOf("id_menu_0002") > -1 ){
                redirectPath = "discussion";
              } else if( redirectPath.indexOf("id_menu_0004") > -1 ){
                redirectPath = "opensourceproject";
              } else if( redirectPath.indexOf("id_menu_0036") > -1 ){
                redirectPath = "about";
              }

              var redirctTo = "";
              if( category == "main" ){
                redirectTo = `/` + redirectPath
              } else{
                redirectTo = `/` + redirectPath + `?contentid=` + contentID;
              }

              $(location).attr( "href" , redirectTo );
              // $(location).attr( "href", "/discussion?contentid=" + contentID );
            } else{
              alert( "Data : " + data.content_id + "\nStatus : " + status );
            }
          });
        });


        $(".after").css( "height", $(".base").outerHeight() + $(".navbar").outerHeight() );
      } );
    } );
  </script>

  <style>
    #specific_editor h1,
    #specific_editor h2,
    #specific_editor h3,
    #specific_editor h4,
    #specific_editor h5,
    #specific_editor h6, {
      padding-top : 15px !important;
      margin-top : 15px !important;
    }
  </style>
</head>

<body class="base">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content" id="menu">
          <ul class="nav navbar-nav top-nav">
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <form class="form">
          <div class="form-group">
            <label for="id_category"><h4>Category</h4></label>
            <hr>
            <div class="radio">
              <label><input type="radio" id="id_category_main" name="radio_category" checked>Displayed Main</label>
            </div>
            <div class="radio">
              <label><input type="radio" id="id_category_content" name="radio_category">Contents</label>
            </div>
          </div>

          <div class="form-group" id="id_menu_form-group">
            <label for="id_menu_select"><h4>Main Menus</h4></label>
            <select class="form-control" id="id_menu_select">
              <%- topMenuList %>
            </select>
          </div>

          <div class="form-group">
            <label for="id_content_select"><h4>Contents</h4></label>
            <select class="form-control" id="id_content_select">
              <%- contentList %>
            </select>
          </div>

          <div class="form-group">
            <label for="id_title"><h4>Title</h4></label>
            <input type="text" class="form-control" id="id_title"/>
          </div>
          <div class="form-group">
            <label for="id_subtitle"><h4>SubTitle</h4></label>
            <input type="text" class="form-control" id="id_subtitle"/>
          </div>
          <div class="form-group">
            <label for="id_keywords"><h4>Key Words</h4></label>
            <input type="text" class="form-control" id="id_keywords" data-toggle="modal" data-target="#modal_keywords"/>
          </div>
          <div class="form-group">
            <label for="id_summarise"><h4>Summary</h4></label>
            <textarea class="form-control" rows=5 id="id_summarise"></textarea>
          </div>
          <div class="form-group" id="id_summernode_form-group">
            <label id="id_summernode" for="summernode" onclick="javascript:expandEditor();"><h4>Contents</h4></label>
            <div id="specific_editor"><p id="id_specific_editor_content">Please Enter Contents</p></div>
          </div>

          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" id="btn_save">Save</button>
            <button type="button" class="btn btn-default" id="btn_cancel">Cancel</button>
          </div>

        </form>

        <% include partials/footer.ejs %>

      </div>
    </div>
  </div>
  <div class="after"></div>

  <div class="modal modal-center fade" role="dialog" id="modal_keywords">
    <div class="modal-dialog modal-center modal-fullsize">
      <div class="modal-content modal-fullsize">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container-fluid" style="vertical-align: middle;">
            <div class="row">
              <div id="keyword_treeview"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-center fade" role="dialog" id="modal_editor">
    <div class="modal-dialog modal-center modal-fullsize">
      <div class="modal-content modal-fullsize">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="form-group" id="id_summernode_full_form-group">
                <div id="specific_editor_full"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="moadl-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-center fade" rold="dialog" id="modal_writers">
    <div class="modal-dialog modal-center modal-fullsize">
      <div class="modal-content modal-fullsize">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <% include partials/about.ejs %>

</body>
</html>
