<!DOCTYPE HTML>
<html>
<head>
  <title>Well Formed IT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- jQuery & bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- well formed IT specific -->
  <link rel="stylesheet" href="wellformedit.css">
  <script src="design.js"></script>  <!-- CSS Script -->
  <script src="common.js"></script>  <!-- Logic Script -->

  <!-- summer note -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <script>
    $(document).ready( function(){

      // summernote initializer
      $('#summernote').summernote({
        height : 300,
        minHeight : null,
        maxHeight : null,

        callbacks : {
            onImageUpload: function(files, editor, welEditable) {
              sendFile( files[0], editor, welEditable );
            }
        }
      });

      function sendFile( file, editor, welEditable ){
        data = new FormData();
        data.append( "file", file );
        $.ajax( {
          data: data,
          type: "POST",
          url: "/upload",
          cache: false,
          contentType: false,
          processData: false,
          success: function(url){
            $("#summernote").summernote( "insertImage", "/2017-06-05/" + file.name, file.name );
          }
        } );
      }

      // on save function
      $("#btn_save").on( "click", () => {

        var content = $("#summernote").summernote("code");
        var parsedContent = $.parseHTML( content );

        for( var i=0; i<parsedContent.length; i++ ){
          console.log( parsedContent[i].nodeName, parsedContent[i].innerHTML, parsedContent[i].innerText );
        }


        $.post( "/contentSave", {
          title : $("#id_title").val(),
          subtitle : $("#id_subtitle").val(),
          keywords : $("#id_keywords").val(),
          summarise : $("#id_summarise").val(),
          contents : $("#summernote").summernote("code"),
          writer : $("#id_writer").val(),
          history : $("#id_history").val(),
          discussion : $("#id_discussion").val()
        },
        function( data, status ){
          alert( "Data : " + data.results + "\nStatus : " + status );
        });
      });

      // $("#id_keywords").on( "keypress click", function(){
      //   $("#modal_keywords").modal();
      // } );

      var str = "hello, <b><u>my name is</u></b> jQuery.";
      var html = $.parseHTML( str );
      var nodeNames = [];

      $.each( html, function( i, el ) {
        nodeNames[ i ] = "<li>" + el.nodeName + "</li>";
      });

      console.log( html );
    } );

  </script>
</head>

<body class="base">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- systemTitle %>
        </div>
        <div class="collapse navbar-collapse navbar-content">
          <ul class="nav navbar-nav top-nav">
            <%- menuList %>
          </ul>
          <ul class="nav navbar-nav navbar-right top-nav">
            <%- rightMenuList %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid doc">
    <div class="row">
      <div class="col-lg-3 col-md-3 doc-nav">
        <blockquote class="doc-description">
          <%- menuDescription %>
        </blockquote>

        <ul class="side-nav" >
          <%- subMenuList %>
        </ul>

      </div>
      <div class="col-lg-9 col-md-9 doc-content">

        <form class="form">

          <div class="form-group">
            <label for="id_title"><span class="glyphicons glyphicon glyphicon-edit"></span> Title</label>
            <input type="text" class="form-control" id="id_title"/>
          </div>
          <div class="form-group">
            <label for="id_subtitle"><span class="glyphicons glyphicon glyphicon-edit"></span> SubTitle</label>
            <input type="text" class="form-control" id="id_subtitle"/>
          </div>
          <div class="form-group">
            <label for="id_keywords"><span class="glyphicons glyphicon glyphicon-edit"></span> Key Words</label>
            <input type="text" class="form-control" id="id_keywords" data-toggle="modal" data-target="#modal_keywords"/>
          </div>
          <div class="form-group">
            <label for="id_summarise"><span class="glyphicons glyphicon glyphicon-edit"></span> Summarise</label>
            <textarea class="form-control" rows=5 id="id_summarise"></textarea>
          </div>
          <div class="form-group">
            <label id="id_summernode" for="summernode"><span class="glyphicons glyphicon glyphicon-edit"></span> Contents</label>
            <div id="summernote"><p>Hello Summernote</p></div>
          </div>
          <div class="form-group">
            <label for="id_writer"><span class="glyphicons glyphicon glyphicon-edit"></span> Writer</label>
            <input type="text" class="form-control" id="id_writer"/>
          </div>
          <div class="form-group">
            <label for="id_history"><span class="glyphicons glyphicon glyphicon-edit"></span> History</label>
            <input type="date" class="form-control" id="id_history"/>
          </div>
          <div class="form-group">
            <label for="id_discussion"><span class="glyphicons glyphicon glyphicon-edit"></span> Discussion</label>
            <textarea class="form-control" rows=5 id="id_discussion"></textarea>
          </div>

          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" id="btn_save">Save</button>
            <button type="button" class="btn btn-default" id="btn_cancel">Cancel</button>
          </div>

        </form>

        <footer>
          <div class="container-fluid footer-bottom">
            <div class="row">
              <hr>
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <ul style="list-style: none; margin: 0; padding: 0;">
                  <li style="display: inline; padding-left: 30px;"><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 <u>Company Name</u>, All rights reserved</li>
                  <li style="display: inline; padding-left: 30px;"><a href="https://github.com/inodient/Nodejs_Template"><u>GitHub</u></a></li>
                  <li style="display: inline; padding-left: 30px;"><a href="https://developer.github.com"><u>Developer</u></a></li>
                  <li style="display: inline; padding-left: 30px;"><a href="/index"><u>About</u></a></li>
                </ul>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </footer>

      </div>
    </div>
  </div>

  <div class="modal modal-center fade" role="dialog" id="modal_keywords">
    <div class="modal-dialog modal-center modal-fullsize">
      <div class="modal-content modal-fullsize">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <label id="selectedKeywords"></label>
        </div>
        <div class="modal-body">
          <div class="container-fluid" style="vertical-align: middle;">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-condensed table-hover">
                  <%- keywordList %>
                  <tbody>
                    <tr>
                      <td>Computer Architecture & Composition</td>
                      <td>Composition & Transfer</td>
                      <td>bla bla bla.....</td>
                    </tr>
                    <tr class="active">
                      <td></td>
                      <td>Operating System</td>
                      <td>bla bla bla.....</td>
                    </tr>
                    <tr>
                      <td>Interpretation & Analysis</td>
                      <td>Math</td>
                      <td>bla bla bla.....</td>
                    </tr>
                    <tr class="active">
                      <td></td>
                      <td>Algorithm</td>
                      <td>bla bla bla.....</td>
                    </tr>
                    <tr class="active">
                      <td></td>
                      <td>Data Structure</td>
                      <td>bla bla bla.....</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Computer Architecture</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Composition</h6>
                <h6>Operating System</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm</h6>
                <h6>Data Structure</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" style="height: 100px; border-bottom: 1px solid darkgray">
                <h6>Interpretation & Analysis</h6>
              </div>
              <div class="col-md-9" style=" border-bottom: 1px solid darkgray">
                <h6>Math</h6>
                <h6>Algorithm__</h6>
                <h6>Data Structure</h6>
              </div>
            </div> -->

          </div>
        </div>
        <div class="modal-footer">
          <h4>footer</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="after"></div>
</body>
</html>
